main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#explore {
  width: 80vw;
  margin-left: 8vw;
  margin-right: auto;
}

#explore ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

#explore ul li {
  height: 20px;
  width: 100px;
  border: solid #067aff;
  border-radius: 30px;
  padding: 7px;
  text-align: center;
  transition: all 0.5s;
}

#explore ul li a {
  color: #067aff;
}

#explore ul li:hover {
  a {
    color: rgb(255, 255, 255);
  }

  border: solid #067aff;
  background-color: #067aff;
  border-radius: 30px;
  padding: 7px;
  text-align: center;
}

#explore ul li a {
  text-decoration: none;
}

.recipeBox {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 80vh;
  width: 80vw;
  margin: 20px;
  padding: 25px;
  border-radius: 20px;
  border: solid #067aff 2px;
  border-bottom: solid #067aff 5px;
  overflow: scroll;
}

#fastfood,
#drinks,
#desserts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.textbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.textbox li {
  list-style-type: none;
}

.textbox p {
  width: 30vw;
}

.imgbox {
  height: 300px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px black inset;
  border: solid #067aff;
  border-bottom: solid #067aff 5px;
  border-right: solid #067aff 1px;
  border-left: solid #067aff 1px;
  border-top: solid #067aff 1px;
  transition: all 0.5s;
}

.imgbox:hover {
  scale: 1.1;
  border-radius: 20px;
  overflow: hidden;
  border: solid #067aff;
  border-bottom: solid #067aff 8px;
  border-right: solid #067aff 8px;
  border-left: solid #067aff 8px;
  border-top: solid #067aff 8px;
}

.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 10px 10px 10px 10px black inset;
}

.imgbox img:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 10px 10px 10px 10px black inset;
}
