@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inspiration&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Funnel Display", sans-serif;
}

nav
{
    border: solid #067aff 1px;
    border-bottom: solid #067aff 5px;
    border-radius: 0px 0px 10px 10px;
    width: 70vw;
    margin: auto;
    transition: all 0.5s;
}

nav:hover
{
    width: 96vw;
    color: aquamarine;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.head
{
    height: 80px;
}

.navbar #random
{
  font-family: "Inspiration", cursive;
  font-weight: 600;
  font-size: 40px;
  color: #067aff;
  font-style: normal;
  transition: all 0.5s;
}

.navbar #recipes
{
  position: relative;
  top: -30px;
  left: 20px;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 40px;
  color: #067aff;
  font-style: normal;
}

.navbar ul
{
    list-style: none;
    display: flex;
    gap: 30px;
    min-width: 300px;
    justify-content: end;
}

.navbar ul li a
{
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    color: #05b8ff;
    text-decoration: none;
    transition: all 0.5s;
}

.navbar ul li a:hover
{
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "GRAD" 0;
    color: #ffffff;
    background-color: #067aff;
    padding: 10px;
    text-decoration: none;
}