*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
nav{
    display: flex;
    padding: 5px 70px;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    background-color: #ffffff;
    height: 12vh;
}
.logo{
    padding: 30px;
    cursor: pointer;
}
.logo img{
    height: 100px;
}

/* Drop down header */
.dropdown{
    height: 10px;
}
.headeritems{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px;
    text-decoration: none;
}

.item, .itemlinks{
    list-style: none;
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.itemlinks:hover{
    color: gray;
    transition: all 0.5s ease-in-out;
}

.rights{
    display: flex;
    gap: 20px;
}

/* Download Button Container */
#downloadbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    /* margin-left: auto; */
    padding: 10px 20px;
    align-items: center;
    font-size: 16px;
}

/* Download Button */
#download{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 4px;
    height: 3.5em;
    width: 130px;
    max-width: 15em;
    align-self: center;
    justify-items: center;
    text-align: center;
    font-weight: 700;
}
#download:hover{
    color: gray;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* Language Button */
.lang{
    display: flex;
    align-self: center;
    align-items: center;
    /* margin-left: 20px; */
}
.langicon{
    height: 20px;
    width: 20px;
    align-self: flex-start;
    align-self: center;
}
#languagebtn{
    display: flex;
    height: 3.5em;
    /* width: 130px; */
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    padding: 18px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    align-self: center;
}
#languagebtn:hover{
    color: rgb(70, 70, 70);
    transition: all 0.5s ease-in-out;
}

/* Search Icon */
.search{
    display: flex;
    padding: 10px;
    /* margin-left: 20px; */
}
.icon{
    display: flex;
    height: 15px;
    padding: 0px;
    align-self: center;
    cursor: pointer;
}

/* Body Section */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.title{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.title h1{
    font-size: 48px;
    font-weight: 400;
    color: rgb(30, 30, 30);
}
.title span{
    color: rgb(30, 30, 30);
}
.title h3{
    font-weight: 400;
    font-size: 24px;
}
#downloadnowbtn{
    margin-top: 20px;
    height: 50px;
    width: 300px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 175, 210);
    cursor: pointer;
}
.downloadsection{
    display: flex;
    align-items: center;
    /* margin-top: 40px; */
}
.downloadsection span img{
    margin:30px;
    height: 60px;
}
.downloadsection span{
    display: flex;
    align-self: center;
    font-size: 14px;
}
.downloadsection span:nth-child(2){
    margin-left: 20px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(50, 50, 50);
}
.multidownloads{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 120px 120px 120px;
    grid-gap: 100px;
    margin: 25px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.langwisedownload{
    display: flex;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    /* align-content: space-around; */
    flex-wrap: nowrap;
}
.langwisedownload h3 h4{
    
}

.langwisedownload button{
    /* margin: 10px; */
    /* padding: 5px 5px; */
    height: 35px;
    width: 130px;
    border: none;
    border-radius: 5px;
    background-color: rgb(85, 190, 98);
    color: rgb(255, 255, 255);
    font-size: 13px;
    cursor: pointer;
}
.langwisedownload button:hover{
    background-color: rgb(65, 164, 80);
    transition: all 0.3s ease-in-out;
}
#dbtn a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}
.hash{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.hash, .hash p{
    word-break: break-all;
    margin: 3px 10px;
    font-size: 10px;
}